
body{
    font-family: 'Comic Neue', cursive;
    
}
/* HEADER CSS */

#logo img{
    max-width: 50%;
    float: left;
}

/* #log_in is the link to sign in */
#log_in{
    display: block;
    text-align: right;
    padding: .5rem;
}

nav ul{
    list-style-type: none;
    background-color: #363333;
    color: #FFFFFF;
    display: block;
    padding: unset;
    margin-top: 3rem;
    letter-spacing: .2rem;
}

nav li{
    font-size: 1.5rem;
    padding: .4rem .2rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

nav ul li a{
    color: #FFFFFF;
}

li:hover{
    background-color: #4c96d7;
}

nav a:visited{
    color: inherit;
}

a {
    text-decoration: inherit;
}

/* .plain_link class is for links that I want to control the apperance. */
.plain_link{
    text-decoration: none;
    color:#3577b1;
}

/* MAIN CSS */

main{
    padding: 0 .5rem;
}

h1{
    font-family: 'Cairo', sans-serif;
    font-size: 1.5rem;
    margin-top: -.4rem;
}

/* styling for message informing user that required information is missing. */
#missingTag{
    color: red;
    font-size: large;
}

.carInfo table{
    color: #3577b1;
}

.carInfo h2{
    margin: unset;
}

.carPic{
    display: flex;
    flex-direction: column;
}

.carPic img{
    max-width: 100%;
}

.carPic button{
    max-width: 70%;
    margin: 1rem auto;
    padding: 1.5rem 1rem;
    background: #a6cbeb;
    font-size: 1.5rem;
    font-weight: bold;
}

.reviews li{
    margin: 1rem;
}

.upgrade_table{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    margin: 1rem;
}

.upgrade_options{
    background-color: #a6cbeb;
    max-width: 100%;
}

hr{
    border: solid .1rem #8d8d8d;
}

footer{
    text-align: center;
    font-size: .75rem;
}