@media (min-width: 750px){

    body{
        background-image: none;
    }

    #log_in{
        float: right;
    }

    nav ul li:first-child{
        display: none;
    }

    li{
        display: inline-block;
    }
}