@media screen and (min-width: 750px){

    html{
        background-image: url(../images/site/small_check.jpg);
    }

    body{
        background-color: white;
        border: .5rem solid #a6cbeb;
        border-radius: 1rem;
        max-width: 75%;
        margin: 2rem auto;
    } 
    #log_in{
        text-align: right;
    }

    

    #sessionWelcome{
        margin: 25%;
        /* padding-left: unset; */
    }

    a {
        font-size: 1.5rem;
        padding-right: 1rem;
    }

    /* rAndU is for the reviews and upgrades section of the page */
    .rAndU{
        display: flex;
        flex-direction: row-reverse;
    }

    .rAndUChild{
        margin: 0 auto;
    }

    .carPic{
        display: flex;
        flex-direction: column-reverse;
        align-items: start
    }

    .carPic button{
        margin: 1rem;
        padding: .5rem 1rem;
    }
}